TP1/TP1_Pratique/TP1_Pratique/obj/Release/netcoreapp2.0/TP1_Pratique.csproj.CoreCompileInputs.cache
TP1/TP1_Pratique/TP1_Pratique/obj/Release/netcoreapp2.0/TP1_Pratique.AssemblyInfoInputs.cache
TP1/TP1_Pratique/TP1_Pratique/obj/Release/netcoreapp2.0/TP1_Pratique.AssemblyInfo.cs
TP1/TP1_Pratique/TP1_Pratique/obj/Release/netcoreapp2.0/TP1_Pratique.csprojAssemblyReference.cache
